name: CLA Assistant

on:
  issue_comment:
    types: [created]
  pull_request_target:
    types: [opened, synchronize, reopened]

permissions:
  actions: write
  contents: write
  pull-requests: write
  statuses: write

jobs:
  cla:
    runs-on: ubuntu-latest
    if: |
      (github.event_name == 'pull_request_target') ||
      (github.event_name == 'issue_comment' && github.event.issue.pull_request && github.event.comment.body == 'recheck')
    steps:
      - uses: contributor-assistant/github-action@v2.6.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          path-to-signatures: 'signatures/cla.json'
          path-to-document: 'https://github.com/${{ github.repository }}/blob/main/CLA.md'
          branch: 'main'
          allowlist: bot*,dependabot*
          custom-notsigned-prcomment: |
            Thank you for your contribution! Before we can merge this PR, please read and agree to our [Contributor License Agreement](https://github.com/${{ github.repository }}/blob/main/CLA.md).

            To agree, please reply with the following comment:

            ```
            I have read the CLA Document and I hereby sign the CLA
            ```
          custom-pr-sign-comment: 'I have read the CLA Document and I hereby sign the CLA'
